# Project Name Here

## Status
**Working** / **Not Working**

If not working:
- [ ] Error
- [ ] In progress

## Description

What is this project?  Is it for exploration, copy-paste, etc?

```mermaid
graph LR;
    A-->B;
    A-->C;
    B-->D;
    C-->D;

```

## Quickstart

Here's how to get this running fast (docker commands).

```bash
docker-compose up
```

## Credentials

## Notes
